{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<main role="main" class="container">

		<div class="img-fluid">
			<img width="100%" src="/assets/blog/images/articles/{{article.image}}" alt="{{article.title}}" >
			<div class="content">
				<p class="date">Edite le
					{{ article.createdAt | date ("d/m/Y")}}
					a
					{{ article.createdAt | date ("H:i")}}</p>
				<h1>{{article.title}}</h1>
				<p class="text-justify">{{article.content | raw}}</p>
			</div>
		</div>

	</main>
{% endblock %}
